name: Build and Deploy to VM via Docker Hub

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Check Out Repo
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ketan27j/crypto-function:latest

    - name: Verify Pushed Image
      run: docker pull ketan27j/crypto-function:latest  # Replace with your Docker Hub username and repository

    - name: Deploy to EC2
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          docker stop crypto-function || true
          docker container prune -f
          docker rmi crypto-function
          docker image prune -f
          docker pull ketan27j/crypto-function:latest
          docker run -d --name crypto-function -e NEXTAUTH_URL=${{ secrets.NEXTAUTH_URL }} DATABASE_URL=${{ secrets.DATABASE_URL }} JWT_SECRET=${{ secrets.JWT_SECRET }} AUTH_SECRET=${{ secrets.AUTH_SECRET }} SOLANA_ENDPOINT=${{ secrets.SOLANA_ENDPOINT }} ketan27j/crypto-function:latest